title = "Category"
url = "/guides/category/:slug"
layout = "default"
is_hidden = 0

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "guides/category"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "guides/category"
postPage = "guides/posts"
==
<div class="container">

<h2>Guides List</h2>
<div class="divider"></div>
    <div class="row">
        <div class="col s12 m8 l8">
            {% set posts = blogPosts.posts %}

<ul class="post-list">
    {% for post in posts %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="info">
                Posted
                {% if post.categories.count %} in {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                on {{ post.published_at|date('M d, Y') }}
            </p>

            <p class="excerpt">{{ post.summary }}</p>
        </li>
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
        </div>
    
    
        <div class="col s12 m4 l4 flow-text">
        
        
            <div class="card-panel">
            <i class="material-icons left">format_list_bulleted</i>Categories
            <div class="divider"></div>
                {% if blogCategories.categories %}
    <ul class="category-list">
        {% partial blogCategories ~ "::items"
            categories = blogCategories.categories
            currentCategorySlug = blogCategories.currentCategorySlug
        %}
    </ul>
{% endif %}

            </div>
        
        </div>
    
    </div>
</div>