

/* Homne Page Overrides */
    .thinfont {
    
        font-weight: 300;
    }
    
    .parallax-container {
      height: 500px ;
      z-index: -1;
    }
    .parallax {
        z-index: -1;
        }
    .ontop {
        position: relative;
        z-index: 1;
        }
    blockquote {
          border-left: 5px solid #0d47a1 ;
        }

/* Footer page Overrides */

/* Begin flexible footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/* End flexible footer */